{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="index.js">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Ganiyat African Braids</title>
</head>
<body>
    
  <nav>
    <input type="checkbox" id="check">
    <label id="checkbtn"  for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label id="logo"><a style="text-decoration: none;" href="">Ganiyat African Braids</a></label>
    <ul>
      <li><a  id="call" href="tel://+13477498082"><img src={% static "images/icons8-call-48.png" %}></img></a></li>
      <li><a  id="email" href="mailto://doyewole69@yahoo.com"><img src={% static "images/icons8-send-email-48.png" %}></a></li>
      <li><a href="https://www.instagram.com/ganiyathairstylistt/"><img src={% static "images/icons8-instagram-48.png" %}></img></a></li>
    </ul>
  </nav>

  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-7ba97bf9-8397-44f0-9b0d-4f7c2ae33689"></div>




  <div id="flexbox1">

    <div id="fb1">

      <h1 id="fb1h1">

        GANIYAT AFRICAN BRAIDS

      </h1>

      <p id="fb1p">

        We do locks all hair style. 
        We are the number one we take our customer as a 
        king and we show empathy and treat our customer 
        the way we want to be treated we take our customer first.

      </p>

      <br>

   <form action="" >   
    <script id="setmore_script" type="text/javascript" src="https://storage.googleapis.com/fullintegration-live/webComponentAppListing/Container/setmoreIframeLive.js"></script><a style="float:none; " id="Setmore_button_iframe"  href="https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb"><img border="none" src="https://storage.googleapis.com/full-assets/setmore/images/1.0/Settings/book-now-blue.svg" alt="Book an appointment with Ganiyat AFrican Braids "/></a>
   </form>
    </div>

    <div id="fb11">

      <img class="mySlides w3-animate-left" src={% static "images/ganiyat1.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat2.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat3.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat4.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat5.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat8.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat7.jpg" %} style="width:60%; border-radius:12em;">

              <script>
                var myIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }

</script>


    </div>

  </div>

  <div id="flexbox2">

    <div id="fb2">
      
      <img id="fb2img" src={% static "images/ganiyat.webp" %} alt="">

    </div>

    <div id="fb22">

      <h1 id="fb22h1">

        ABOUT US

      </h1>

      <p id="fb22p">

        The most recommended hair braids salon in Newark,New Jersey 
        in the surroundings of Newark,Bergen Irvington,Springfield 
        with caring hair stylists who strive for your satisfaction. 
        We specialize in most popular hairstyles such as Bob hair Braids, 
        Box braids, lemonade hair braids, knotless braids, pasion twists, 
        senegalse twists, faux locs, cornrows,  curly braids, wavy braids, 
        crochet braids ,afro American hairstyles and African hair braids 
        near me styles for men, women and kids at affordable prices. 
        We also put an emphasis on styling Natural Hair with styles 
        such as Take down hair style for long and short hair and Natural 
        hair twists.

      </p>

    </div>

  </div>


  <div id="flexbox3">

    <h1 id="fb3h1">

      OUR SERVICES

    </h1>

    <p id="fb3p">

      Here at Ganiyat African Braids, we pay attention to details, and all 
      of our stylist are professionals, depending on the style you want, 
      the right stylist is dedicated, so expect nothing less than a smooth, 
      elegant and beautiful result.Our commitment to quality and services 
      ensure our clients happy. With years of experiences, our dedicated 
      staff is ready to serve your beauty needs. 

    </p>

    <div id="fb3images">

      <img class="img1" src={% static "images/Yarn-Braids.webp" %} alt="" title="Yarn Braids">
      <img class="img2" src={% static "images/Mohawk-Braids.webp"%} alt="" title="Mohawk Braids">
      <img class="img3" src={% static "images/Micro-Braids.webp" %} alt="" title="Micro Braids">
      <img class="img4" src={% static "images/Snake-Braids.webp" %} alt="" title="Snake Braids">
      <img class="img5" src={% static "images/ghana-braids.webp"%} alt="" title="Ghana Braids">
      <img class="img6" src={% static "images/Senegalese-Twists-.webp" %} alt="" title="Senegalese Twists">
      <img class="img7" src={% static "images/Fishbone-Braids.webp"%} alt="" title="Fish Bone Braids">
      <img class="img8" src={% static "images/spring-twist.jpg"%} alt="" title="Spring Twist">
      <img class="img9" src={% static "images/Kinky-Twists.webp"%} alt="" title="Kinky Twist">
      <img class="img10" src={% static "images/twist.jpg"%} alt="" title="Twist">

    </div>

  </div>

  


  <section  id="subscribe">

    <h2 id="subh2">

        Join The lovers and Supporters of Ganiyat AFrican Braids

    </h2>

    <p id="subp">

        Join over 1000 customers and enjoy exclusive benefits
        from emails and be the first to get important and 
        firsthand informations about promos.

    </p>

    <form class="input-group" action = "" method = "post">
        {% csrf_token %}
        <input type="email" class="input" id="id_email" name="email" placeholder="uiverse@verse.io" autocomplete="off" maxlength="255" required="">
        <input class="button--submit" value="Submit" type="submit">
    </form>

    

</section>
<br><br><br>
   
<footer>


  <div id="footer-flex">

    <p id="address"><img src={% static "images/icons8-address-48.png" %}>:941 Bergan street Newark New Jersey 07112</p>

      <a target="_blank" href="https://www.instagram.com/ganiyathairstylistt/"><img id="instagram" src="{% static 'images/icons8-instagram-96(1).png' %}" alt=""></a>

      

  </div>



  <span>
    © Copyright 2023  - All rights reserved Ganiyat African Braids Developed and managed by Ganiyat African Braids.
    </span>

  <br><br><br>

</footer>

</body>
</html>