{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="index.js">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Ganiyat African Braids</title>
</head>
<body>
    
  <nav>
    <input type="checkbox" id="check">
    <label id="checkbtn"  for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

  <label id="logo"><a id="logoa"  href="{% url "home" %}">Ganiyat African Braids</a></label>
   
    <ul>
      <li><a  href="{% url "home" %}">Home</a></li>
      <li><a  href="{% url "booking:service" %}">Services</a></li>
      <li><a href="{% url "booking:aboutus" %}">About Us</a></li>
      <li><a href="{% url "booking:policy" %}">Policy</a></li>
      <li><a  id="call" href="tel://+13477498082"><img src={% static "images/icons8-call-48.png" %}></img></a></li>
      <li><a  id="email" href="mailto://doyewole69@yahoo.com"><img src={% static "images/icons8-send-email-48.png" %}></a></li>
      <li><a href="https://www.instagram.com/ganiyathairstylistt/"><img src={% static "images/icons8-instagram-48.png" %}></img></a></li>
    </ul>
  </nav>

  <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = '690298011b9af364bbfd6b6c9585cf6c47745171';
  window.smartsupp||(function(d) {
    var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
    s=d.getElementsByTagName('script')[0];c=d.createElement('script');
    c.type='text/javascript';c.charset='utf-8';c.async=true;
    c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
  })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  


  <div id="flexbox1">

    <div id="fb1">

      <h1 id="fb1h1">

        GANIYAT AFRICAN BRAIDS

      </h1>

      <p id="fb1p">

        We do locks all hair style. 
        We are the number one we take our customer as a 
        king and we show empathy and treat our customer 
        the way we want to be treated we take our customer first.

      </p>

      <br>

   <form action="" >   
    <script id="setmore_script" type="text/javascript" src="https://storage.googleapis.com/fullintegration-live/webComponentAppListing/Container/setmoreIframeLive.js"></script><a style="float:none; " id="Setmore_button_iframe"  href="https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb"><img border="none" src="https://storage.googleapis.com/full-assets/setmore/images/1.0/Settings/book-now-blue.svg" alt="Book an appointment with Ganiyat AFrican Braids using Setmore"/></a>
   </form>
    </div>

    <div id="fb11">

      <img class="mySlides w3-animate-left" src={% static "images/ganiyat1.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat2.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat3.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat4.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat5.jpg" %} style="width:60%; border-radius:12em;">
      <img class="mySlides w3-animate-left" src={% static "images/ganiyat8.jpg" %} style="width:60%; border-radius:12em;">
      
      

              <script>
                var myIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }

</script>


    </div>

  </div>

  <div id="flexbox2">

    <div id="fb2">
      
      <img id="fb2img" src={% static "images/ganiyat.webp" %} alt="">

    </div>

    <div id="fb22">

      <h1 id="fb22h1">

        ABOUT US

      </h1>

      <p id="fb22p">

        The most recommended hair braids salon in Newark,New Jersey 
        in the surroundings of Newark,Bergen Irvington,Springfield 
        with caring hair stylists who strive for your satisfaction. 
        We specialize in most popular hairstyles such as Bob hair Braids, 
        Box braids, lemonade hair braids, knotless braids, pasion twists, 
        senegalse twists, faux locs, cornrows,  curly braids, wavy braids, 
        crochet braids ,afro American hairstyles and African hair braids 
        near me styles for men, women and kids at affordable prices. 
        We also put an emphasis on styling Natural Hair with styles 
        such as Take down hair style for long and short hair and Natural 
        hair twists.

      </p>

    </div>

  </div>


  <div id="flexbox3">

    <h1 id="fb3h1">

      OUR SERVICES

    </h1>

    <p id="fb3p">

      Here at Ganiyat African Braids, we pay attention to details, and all 
      of our stylist are professionals, depending on the style you want, 
      the right stylist is dedicated, so expect nothing less than a smooth, 
      elegant and beautiful result.Our commitment to quality and services 
      ensure our clients happy. With years of experiences, our dedicated 
      staff is ready to serve your beauty needs. 

    </p>

    <div id="fb3images">

      <div>
      <img class="img1" src={% static "images/Yarn-Braids.webp" %} alt="" title="Yarn Braids">
      <br>
      <h4 style= "text-align:center;",>Yarn Braids</h4>

      </div>

      <div>
      <img class="img2" src={% static "images/Mohawk-Braids.webp"%} alt="" title="Mohawk Braids">
      <br>
      <h4 style= "text-align:center;",>Mohawk Braids</h4>
      </div>

      <div>
      <img class="img3" src={% static "images/Micro-Braids.webp" %} alt="" title="Micro Braids">
      <br>
      <h4 style= "text-align:center;",>Micro Braids</h4>
      </div>

      <div>
      <img class="img4" src={% static "images/Snake-Braids.webp" %} alt="" title="Snake Braids">
      <br>
      <h4 style= "text-align:center;",>Snake Braids</h4>
      </div>

      <div>
      <img class="img5" src={% static "images/ghana-braids.webp"%} alt="" title="Ghana Braids">
      <br>
      <h4 style= "text-align:center;",>Ghana Braids</h4>
      </div>

      <div>
      <img class="img6" src={% static "images/Senegalese-Twists-.webp" %} alt="" title="Senegalese Twists">
      <br>
      <h4 style= "text-align:center;",>Senegalese Twist</h4>
      </div>

      <div>
      <img class="img7" src={% static "images/Fishbone-Braids.webp"%} alt="" title="Fish Bone Braids">
      <br>
      <h4 style= "text-align:center;",>Fish-Bone Braids</h4>
      </div>

      <div>
      <img class="img8" src={% static "images/spring-twist.jpg"%} alt="" title="Spring Twist">
      <br>
      <h4 style= "text-align:center;",>Spring Twist</h4>
      </div>

      <div>
      <img class="img9" src={% static "images/Kinky-Twists.webp"%} alt="" title="Kinky Twist">
      <br>
      <h4 style= "text-align:center;",>Kinky Twist</h4>
      </div>

      <div>
      <img class="img10" src={% static "images/twist.jpg"%} alt="" title="Twist">
      <br>
      <h4 style= "text-align:center;",>Twist</h4>
      </div>

      <div>
      <img class="img11" src={% static "images/butterfly_lock.jpg"%} alt="" title="Butterfly Lock">
      <br>
      <h4 style= "text-align:center;",>Butterfly Lock</h4>
      </div>

      <div>
      <img class="img12" src={% static "images/spiral_braids.jpg"%} alt="" title="Spiral Braids">
      <br>
      <h4 style= "text-align:center;",>Spiral Braids</h4>
      </div>

      <div>
        <img class="img13" src={% static "images/Mohawk_braids.jpg"%} alt="" title="Mohawk Braids">
        <br>
        <h4 style= "text-align:center;",>Mohawk Braids</h4>
      </div>

      <div>
        <img class="img14" src={% static "images/spring_twist.jpg"%} alt="" title="Spring Twist">
        <br>
        <h4 style= "text-align:center;",>Spring Twist</h4>
      </div>

      <div>
        <img class="img15" src={% static "images/Stitch_braids.jpg"%} alt="" title="Stitch Braids">
        <br>
        <h4 style= "text-align:center;",>Stitch Braids</h4>
      </div>

      <div>
        <img class="img16" src={% static "images/small_knotless.jpg"%} alt="" title="Small Knotless">
        <br>
        <h4 style= "text-align:center;",>Small Knotless</h4>
      </div>

    </div>

  </div>


  <div id= "experties">

    <div style="padding: 1em;">
    <h1 style="font-weight: 800; border: 5px solid white;
    width: 2em;
    text-align: center;">1</h1>
    <h2 style="font-weight: 800;">Beauty Expertise</h2>
    <p style="width:20em; font-weight: 700;">

      Ganiyat African Braids stylist are highly trained and professional with witty hand to give you finest of style, They are surely great at thier craft

    </p>
    </div>


    <div style="padding: 1em;">
      <h1 style="font-weight: 800; border: 5px solid white;
      width: 2em;
      text-align: center;">2</h1>
      <h2 style="font-weight: 800;">Location</h2>
      <p style="width:20em; font-weight: 700;">
  
        We situated at the heart of Newark , always ready to get you ready for the week end
  
      </p>
    </div>


    <div style="padding: 1em;">
      <h1 style="font-weight: 800; border: 5px solid white;
      width: 2em;
      text-align: center;">3</h1>
      <h2 style="font-weight: 800;">Advanced Booking</h2>
      <p style="width:20em; font-weight: 700;">
  
        You can schedule your booking at your convenient time through our online booking portal.
        
      </p>
    </div>    



    <div style="padding: 1em;">
      <h1 style="font-weight: 800; border: 5px solid white;
      width: 2em;
      text-align: center;">4</h1>
      <h2 style="font-weight: 800;">Affordable Prices</h2>
      <p style="width:20em; font-weight: 700;">
  
        We have by far one of the most reasonable price, with even better results, you can look way much elegant for less.
        
      </p>
    </div>    


    <div style="padding: 1em;">
      <h1 style="font-weight: 800; border: 5px solid white;
      width: 2em;
      text-align: center;">5</h1>
      <h2 style="font-weight: 800;">Free Consultation</h2>
      <p style="width:20em ; font-weight: 700;">
  
        Not sure which style suits you best or want to make a recommendation for someone? we have got you covered reach out to us for  a free consultation.
        
      </p>
    </div>    


    <div style="padding: 1em;">
      <h1 style="font-weight: 800; border: 5px solid white;
      width: 2em;
      text-align: center;">6</h1>
      <h2 style="font-weight: 800;">Close Neat Staff</h2>
      <p style="width:20em; font-weight: 700;">
  
        With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We’re happy to help you decide the best look.
        
      </p>
    </div>    

  </div>
<br><br>

<h1 id="fb3h1">

  LOCATE US

</h1>

<div style= "margin: auto;
display: flex;
justify-content: center;">


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.271253860186!2d-74.20779292492463!3d40.71204477139363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2532609112a49%3A0xf360316eee543f11!2s941%20Bergen%20St%2C%20Newark%2C%20NJ%2007112%2C%20USA!5e0!3m2!1sen!2sng!4v1693322108257!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

  


  <section  id="subscribe">

    <h2 id="subh2">

        Join The lovers and Supporters of Ganiyat AFrican Braids

    </h2>

    <p id="subp">

        Join over 1000 customers and enjoy exclusive benefits
        from emails and be the first to get important and 
        firsthand informations about promos.

    </p>

    <form class="input-group" action = "" method = "post">
        {% csrf_token %}
        <input type="email" class="input" id="id_email" name="email" placeholder="uiverse@verse.io" autocomplete="off" maxlength="255" required="">
        <input class="button--submit" value="Submit" type="submit">
    </form>

    

</section>

<br><br><br>
   
<footer>


  <div id="footer-flex">

    <a href = "https://goo.gl/maps/PCr2b5Zzrv92LLuR8" > <p id="address"><img src={% static "images/icons8-address-48.png" %}>:941 Bergan street Newark New Jersey 07112</p></a>

    <div id="Quick" style= "margin: auto;">

    <h3 style= "background-color: #3d243c; color: white; font-weight: 800; width: 7em;
    border: 1px solid black;
    margin: auto;">Quick Links</h3>
    
    <a id="footer-book" target="_blank" href="https://ganiyatafricanbraids.setmore.com?source=easyshare">Book</a><br>

    <a id="footer-book" href="{% url "booking:service" %}">Services</a><br>

    <a id="footer-book" href="{% url "booking:aboutus" %}">About Us</a><br>

    <a id="footer-book" href="{% url "booking:policy" %}">Policy</a><br>

    </div>


    <div id="sorted" style= "margin: auto;">

      <h3 style= "background-color: #3d243c; color: white; font-weight: 800; width: 7em;
      border: 1px solid black;
      margin: auto;">Most Sorted</h3>
      
      <a id="footer-book" target="_blank" href="https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb/services/cd5677ce-9f72-4d57-b985-db54bd155ed8?source=easyshare">Knotless</a><br>
  
      <a id="footer-book" target="_blank" href="https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb/services/3c31b326-dcfa-45da-9ffa-cd0c4ee857e1?source=easyshare">Twist</a><br>
  
      <a id="footer-book" target="_blank" href="https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb/services/623039c0-fe40-44b7-9591-da1dd140c9ac?source=easyshare">Cornrows</a><br>
  
      <a id="footer-book" target="_blank" href="https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb/services/8a3a8e0e-900e-4afa-8519-a5575fd6197a?source=easyshare">Ex-small Knotless</a><br>

      <a id="footer-book" target="_blank" href="https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb/services/d5029feb-b23e-4f9b-bb4d-5fbb56246ade?source=easyshare">Goddess Braids</a><br>
  
      </div>

    <a id="IG-logo-footer" target="_blank" href="https://www.instagram.com/ganiyathairstylistt/"><img id="instagram" src="{% static 'images/icons8-instagram-96(1).png' %}" alt=""></a>

      

  </div>



  <p id="Copyright">
    © Copyright 2023  - All rights reserved by Ganiyat African Braids 
    </p>

  <br><br><br>

</footer>

</body>
</html>