{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.js' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Ganiyat African Braids</title>
</head>
<body>


    <nav>
        <input type="checkbox" id="check">
        <label id="checkbtn"  for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
    
      <label id="logo"><a id="logoa"  href="">Ganiyat African Braids</a></label>
       
        <ul>
          <li><a  href="{% url "home" %}">Home</a></li>
          <li><a  href="{% url "booking:service" %}">Services</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Policy</a></li>
        </ul>
      </nav>
    
      <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
      var _smartsupp = _smartsupp || {};
      _smartsupp.key = '690298011b9af364bbfd6b6c9585cf6c47745171';
      window.smartsupp||(function(d) {
        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        c.type='text/javascript';c.charset='utf-8';c.async=true;
        c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
      })(document);
      </script>
      <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>


      <h1 style= "text-align: center; font-weight: 800; padding: 1em; ">

        OUR SERVICES

      </h1>

      <p style= "text-align: center; font-weight: 800; padding: 1em; font-size: 20px; color: gray;">

        Discover what we do

      </p>



    <div class="wrapper">
        
        <div>
        <a style = ":hover{
          
        }" href="#demo-modal"><img class="img1-modal" src={% static "images/ganiyat1.jpg" %} alt="" title=""></a>
        <br>
      <h3 style= "text-align:center;",>TWISTS</h3>
        
        </div>

        <div>
            <a href="#demo-modal2"><img class="img1-modal" src={% static "images/ganiyat5.jpg" %} alt="" title=""></a>
            <br>
          <h3 style= "text-align:center;",>Extra Small Knotless</h3>
            
            </div>

            <div>
                <a href="#demo-modal3"><img class="img1-modal" src={% static "images/12-black-small-knotless-braids.webp" %} alt="" title=""></a>
                <br>
              <h3 style= "text-align:center;",>Small Knotless Braids</h3>
                
                </div>

                <div>
                    <a href="#demo-modal4"><img class="img1-modal" src={% static "images/ganiyat6.jpg" %} alt="" title=""></a>
                    <br>
                  <h3 style= "text-align:center;",>Medium Knotless Braids</h3>
                    
                    </div>


                        <div>
                            <a href="#demo-modal5"><img class="img1-modal" src={% static "images/cornrows and Knotless.jpg" %} alt="" title=""></a>
                            <br>
                          <h3 style= "text-align:center;",>Cornrow $ Knotless</h3>
                            
                            </div>

                            <div>
                                <a href="#demo-modal6"><img class="img1-modal" src={% static "images/small medium knotless.jpg" %} alt="" title=""></a>
                                <br>
                              <h3 style= "text-align:center;",>Small Medium Knotless</h3>
                                
                                </div>

                                <div>
                                    <a href="#demo-modal7"><img class="img1-modal" src={% static "images/medium large.jpg" %} alt="" title=""></a>
                                    <br>
                                  <h3 style= "text-align:center;",>Medium Large KNotless</h3>
                                    
                                    </div>

                                    <div>
                                        <a href="#demo-modal8"><img class="img1-modal" src={% static "images/large knotless.jpg" %} alt="" title=""></a>
                                        <br>
                                      <h3 style= "text-align:center;",>Large Knotless Braids</h3>
                                        
                                        </div>

                                        <div>
                                            <a href="#demo-modal9"><img class="img1-modal" src={% static "images/small-senegalese-twist.jpg" %} alt="" title=""></a>
                                            <br>
                                          <h3 style= "text-align:center;",>Small Senegalese Twist</h3>
                                            
                                            </div>

                                            <div>
                                                <a href="#demo-modal10"><img class="img1-modal" src={% static "images/Senegalese twist.jpg" %} alt="" title=""></a>
                                                <br>
                                              <h3 style= "text-align:center;",>Medium Senegalese Twist</h3>
                                                
                                                </div>

                                                <div>
                                                    <a href="#demo-modal11"><img class="img1-modal" src={% static "images/Senegalese-Twists-.webp" %} alt="" title=""></a>
                                                    <br>
                                                  <h3 style= "text-align:center;",>Medium Large Senegalese</h3>
                                                    
                                                    </div>

                                                    <div>
                                                        <a href="#demo-modal12"><img class="img1-modal" src={% static "images/gypsy.jpg" %} alt="" title=""></a>
                                                        <br>
                                                      <h3 style= "text-align:center;",>Gypsy Bohemian Braids</h3>
                                                        
                                                        </div>

                                                        <div>
                                                            <a href="#demo-modal13"><img class="img1-modal" src={% static "images/ganiyat4.jpg" %} alt="" title=""></a>
                                                            <br>
                                                          <h3 style= "text-align:center;",>Goddess Braides</h3>
                                                            
                                                            </div>

                                                            <div>
                                                                <a href="#demo-modal14"><img class="img1-modal" src={% static "images/cornrows.jpg" %} alt="" title=""></a>
                                                                <br>
                                                              <h3 style= "text-align:center;",>Cornrows</h3>
                                                                
                                                                </div>
       

    </div>
    
    <div id="demo-modal" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">TWISTS</h1><br>
    
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" style= "margin: auto" src={% static "images/ganiyat1.jpg" %} alt="" title=""><br>
            </div>

            <p style= "text-align: center">
              Butt-Length = $500 
              <br>
              Waist-Length = $400
              <br>
              Mid-Back-length = $300
                
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = "https://booking.setmore.com/scheduleappointment/3c4abe86-34f3-4393-ba04-498a77981ddb/services/8a3a8e0e-900e-4afa-8519-a5575fd6197a?source=easyshare"><button id="serviceb" >Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal2" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Extra small Knotless Braids</h1><br>
          
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" style= "margin: auto" src={% static "images/ganiyat5.jpg" %} alt="" title=""><br>
            </div>

            <p  style= "text-align: center">
              Butt-Length = $500 
              <br>
              Waist-Length = $480
              <br>
              Mid-Back-length = $460
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal3" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Small Knotless Braids</h1>
    
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/12-black-small-knotless-braids.webp" %} alt="" title="">
            </div><br>

            <p style= "text-align: center">
              Butt-Length = $400
              <br>
              Waist-Length = $380
              <br>
              Mid-Back-length = $350
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button id="serviceb" >Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal4" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center"s>Medium Knotless Braids</h1>

          <div style = "display: flex;
          justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/ganiyat6.jpg" %} alt="" title="">
          </div><br>

            <p style= "text-align: center">
              Butt-Length = $300
              <br>
              Waist-Length = $250
              <br>
              Mid-Back-length = $220
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal5" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Cornrows and Knotless</h1>

          <div style = "display: flex;
          justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/cornrows and Knotless.jpg" %} alt="" title="">
          </div><br>

            <p style= "text-align: center">
              Butt-Length = $280
              <br>
              Waist-Length = $250
              <br>
              Mid-Back-length = $220
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal6" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Small Medium Knotless</h1>
    
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/small medium knotless.jpg" %} alt="" title="">
            </div><br>

            <p style= "text-align: center">
              Butt-Length = $350
              <br>
              Waist-Length = $320
              <br>
              Mid-Back-length = $300
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal7" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">CSS Only Modal</h1>
    
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/medium large.jpg" %} alt="" title="">
            </div><br>

            <p style= "text-align: center">
              Butt-Length = $280
              <br>
              Waist-Length = $220
              <br>
              Mid-Back-length = $200
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal8" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Large Knotless Braids</h1>
    

            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/large knotless.jpg" %} alt="" title="">
            </div>

            <p style= "text-align: center">
              Butt-Length = $250
              <br>
              Waist-Length = $200
              <br>
              Mid-Back-length = $180
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal9" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Small Senegalese Twist</h1>
    
            <div>
            <img class="img1-modal-pop" src={% static "images/small-senegalese-twist.jpg" %} alt="" title="">
            </div>

            <p style= "text-align: center">
              Butt-Length = $350
              <br>
              Waist-Length = $300
              <br>
              Mid-Back-length = $250
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal10" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Medium Senegalese Twist</h1>
    
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/Senegalese twist.jpg" %} alt="" title="">
            </div>

            <p style= "text-align: center">
              Butt-Length = $250
              <br>
              Waist-Length = $200
              <br>
              Mid-Back-length = $170
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal11" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Medium Large Senegalese Twist</h1>
    
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/Senegalese-Twists-.webp" %} alt="" title="">
            </div>

            <p style= "text-align: center">
              Butt-Length = $250
              <br>
              Waist-Length = $200
              <br>
              Mid-Back-length = $180
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal12" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Gypsy Bohemian Braids</h1>
    
            <div>
            <img class="img1-modal-pop" src={% static "images/gypsy.jpg" %} alt="" title="">
            </div>

            <p style= "text-align: center">
                Gypsy Bohemian Braids = $500
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button id="serviceb" >Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal13" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Goddess Braids</h1>
    
            <div style = "display: flex;
            justify-content: center;">
            <img class="img1-modal-pop" src={% static "images/ganiyat4.jpg" %} alt="" title="">
            </div>

            <p style= "text-align: center">
                Goddess Braids = $500
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button  id="serviceb">Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>


    <div id="demo-modal14" class="modal">
        <div class="modal__content">
            <h1 style= "text-align: center">Cornrows</h1>


          <div style = "display: flex;
          justify-content: center;">
            <img class ="img1-modal-pop" src={% static "images/cornrows.jpg" %} alt="" title="">
          </div>

            <p style= "text-align: center">
               Cornrows = $200 
            </p><br>

            <form style = "display: flex;
            justify-content: center;" action = ""><button id="serviceb" >Book now</button></form><br>
    
            <div class="modal__footer">
            
            </div>
    
            <a href="#" class="modal__close">&times;</a>
        </div>
    </div>



    <br>


  </body>
