{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="index.js">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>SIgn Up</title>
</head>
<body id="signup">




    
      <div class="container">
        <div class="title">Registration</div>
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Firstname</span>
                <input type="text" placeholder="Enter your Firstname" required>
              </div>
              <div class="input-box">
                <span class="details">Surname</span>
                <input type="text" placeholder="Enter your Surname" required>
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter your number" required>
              </div>
              <div class="input-box">
                <span class="details">Password</span>
                <input type="text" placeholder="Enter your password" required>
              </div>
              <div class="input-box">
                <span class="details">Confirm Password</span>
                <input type="text" placeholder="Confirm your password" required>
              </div>
            <div class="input-box">
              <span class="details">Street Address</span>
              <input type="text" placeholder="Enter your Street address" required>
            </div>
            <div class="input-box">
              <span class="details">City</span>
              <input type="text" placeholder="Enter your City" required>
            </div>
            <div class="input-box">
              <span class="details">Postcode</span>
              <input type="text" placeholder="Enter your PostCode" required>
            </div>
            <div class="input-box">
              <span class="details">Country</span>
              <input type="text" placeholder="Enter your Country" required>
            </div>
          </div>
            
            <div class="button">
              <input type="submit" value="Register">
            </div>
          </form>
        </div>
      </div>
    
   
    
    
</body>
</html>